@model PersonModel;

@{ ViewData["Title"] = "Edit Person Form"; }

<form id="edit_person_form" method="post" action="/Home/PersonSave">
    <p>
        <label for="id"> Person Id:</label>
        <input type="number" name="id" value=" " />
    </p>
    <p>
        <label for="name">Updated Name: </label>
        <input type="text" name="name" value=" " />
    </p>
    <p>
        <label for="jobId">Updated Job: </label>
        <select name="jobId">
            <option value="-1">-- Select a Job --</option>
            @foreach (var job in PersistentModel.Instance.jobs)
            {
<option value="@job.id">@job.name</option>
}
        </select>
    </p>
    <p>
        <label for="CompanyId">Updated Company: </label>
        <select name="CompanyId">
            <option value="-1">-- Select a Company --</option>
            @foreach (var company in PersistentModel.Instance.companies)
            {
<option value="@company.id">@company.name</option>
}
        </select>
    </p>
    <p><label for="salary">Updated Salary: </label><input name="salary" value="@Model.salary" /></p>


    <p><button id="submit" type="submit">Submit</button></p>
</form>